.about-container {
  height: 45vh;
}

.about-content {
  display: flex;
  justify-content: space-between;

  .about-textside {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    gap: 1rem;

    button {
      background: none;
      padding: 1rem;
      color: $white;
      border: 1px solid $primary-color;
    }
  }

  .about-media {
    position: relative;

    div:nth-child(1) {
      position: absolute;
      background: rgba($white, 0.8);
      top: 0;
      right: 0;
      width: 250px;
      height: 300px;
      clip-path: polygon(54% 0, 100% 0%, 45% 100%, 0% 100%);
    }

    div:nth-child(2) {
      position: absolute;
      background: rgba($primary-color, 0.7);
      opacity: 0.9;
      top: 41px;
      right: -106px;
      width: 250px;
      height: 300px;
      clip-path: polygon(54% 0, 100% 0%, 45% 100%, 0% 100%);
    }

    .img-container {
      position: absolute;
      width: 265px;
      height: 250px;
      overflow: hidden;
      border-radius: 50%;
      top: 25px;
      right: 0;
      border: 4px solid $primary-color;
      box-shadow: inset 0 0 27px -3px $primary-color;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}
