.about-container {
  height: 62vh;
  display: flex;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .about-textside {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;

    button {
      background: none;
      padding: 1rem;
      color: $white;
      border: 1px solid $primary-color;
    }
  }

  .about-media img {
    display: none;
  }
}

@include mx-response(lg) {
  .about-content {
    flex-direction: row;

    .about-textside {
      width: 50%;
    }

    .about-media-container {
      display: flex;
      width: 50%;
      justify-content: baseline;

      .about-media {
        position: relative;
        width: 60%;

        div:nth-child(1),
        div:nth-child(2) {
          width: $about-figure-width;
          height: $about-figure-height;
          position: absolute;
          opacity: 0.6;
        }

        div:nth-child(1) {
          background: $white;
          top: 0;
          left: 0;
          clip-path: polygon(54% 0, 100% 0%, 45% 100%, 0% 100%);
        }

        div:nth-child(2) {
          background: $primary-color;
          top: 33px;
          right: 0;
          clip-path: polygon(54% 0, 100% 0%, 45% 100%, 0% 100%);
        }

        .img-container {
          position: absolute;
          top: 35px;
          right: 50px;
          height: 250px;
          width: 250px;
          // border-radius: 50%;
          // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          transform: skew(20px);
          border: 4px solid $primary-color;
          box-shadow: inset 0 0 27px -3px $primary-color;
          @include mx-blur-filter;
          overflow: hidden;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          filter: brightness(0.9) contrast(1.04) sepia(0.4);
        }
      }
    }
  }
}
