.btn{
    display: inline-block;
    border: none;
    padding: 0.5rem;
    color: $white;
    background-color: initial;
    letter-spacing: 1px;
    cursor: pointer;
    width: fit-content;
}

.btnPrimary{
    padding: 0.8rem 1.5rem;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    transition: .3s all;
    &:hover{
        background-color: transparent;
    }
}


@include mx-response(lg){
    .btnPrimary{
        background-color: $primary-color;
        border-color: $primary-color;
        font-size: 1rem;
    }
}