.comunity{
    .container{
        @include mx-flex();
    }
    .subtitle{
        max-width: 30rem;
    }
    .btnPrimary{
        margin-top: 2rem;
    }
}

@include mx-response(lg){
    .comunity{
        .container{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}