.comunity{
    .container{
        @include mx-flex;
    }
    .subtitle{
        max-width: 30rem;
    }
    .btnPrimary{
        margin-top: 2rem;
    }
}
.community-image{
    max-width: 20rem;
    margin: 4rem 0 2rem 0;
    text-align: center;
}
.community-image-principal{
    filter: saturate(85%);
}
.logo-discord{
    margin-top: 1rem;
    max-width: 10rem;
}

@include mx-response(lg){
    .comunity{
        .container{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .community-image{
        max-width: 25rem;
        margin-right: 4rem;
    }
    
}