.comunity{
    .container{
        @include mx-flex;
    }
    .subtitle{
        max-width: 30rem;
    }
    .btnPrimary{
        margin-top: 2rem;
    }
}
.community-image{
    max-width: 8rem;
    align-self: flex-end;
}


@include mx-response(lg){
    .comunity{
        .container{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .community-image{
        max-width: 20rem;
        align-self: flex-start;
        margin: 2rem 4rem 2rem 0;
        text-align: center;
    }
    .logo-discord{
        margin-top: 1rem;
        max-width: 10rem;
    }
}