.contact{
    padding: 6rem 0;
    background-image: url('/owl-contact.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba($black, .85);
        position: absolute;
        top: 0;
        z-index: 0;
    }
    .social-networks{
        display: none;
    }
}
.contact-info,
.contact-form{
    position: relative;
}
.contact-form{
    margin-top: 2rem;
}
.content-input{
    margin-bottom: 1rem;
}
.input-label{
    position: relative;
    color: $lightGray;
}
.text-area{
    height: 10rem;
    resize: none;
}

@include mx-response(lg){
    .contact{
        .container{
            @include mx-flex($direction:row);
            gap: 6rem;
        }
        .subtitle{
            max-width: 30rem;
        }
        .social-networks{
            display: flex;
        }
    } 
    .contact-form{
        width: 100%;
        max-width: 30rem;
    }
}