.header-container {
  clip-path: polygon(100% 0, 218% 59%, 77% 96%, 0 90%, 0 0);
  background-image: url("fondo-hackaton.webp");
  background-size: cover;
  height: 40rem;
  position: relative;
  overflow: hidden;
  @include mx-response(xl) {
    height: 80vh;
  }

  video {
    object-fit: cover;
    position: absolute;
    height: 210%;
    width: 100%;
    filter: brightness(0.7) contrast(3) saturate(4) opacity(0.8);
  }

  .video-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($primary-color, 0.2);
  }

  .header-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 100%;
    justify-content: end;
    @include mx-response(lg) {
      gap: 0;
      flex-direction: row;
      align-items: center;
    }

    .header-text {
      color: white;
      top: 9rem;
      font-family: $primary-font;
      z-index: 1;
      @include mx-response(xl) {
        width: 70%;
      }
    }

    .image-header {
      align-self: flex-end;

      img {
        max-width: 20rem;
        bottom: 1.3rem;
        right: 0;
        z-index: 1;
        @include mx-sepia-filter;
        @include mx-response(lg) {
          max-width: 34rem;
        }
      }
    }
  }
}
