.header-content {
  height: 40rem;
  position: relative;
  clip-path: polygon(100% 0, 218% 59%, 77% 96%, 0 90%, 0 0);
  overflow: hidden;
}

.header-content video {
  object-fit: cover;
}

.video-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($primary-color, 0.8);
}

.header-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($primary-color, 0.6);
  backdrop-filter: blur(1.5px);
}

.header-content video {
  position: absolute;
  height: 100%;
  width: 100%;
}

.image-header {
  position: absolute;
  max-width: 20rem;
  bottom: 1.3rem;
  right: 0;
  z-index: 1;
  filter: brightness(0.9), saturate(1);
}

.gradient {
  background-color: red;
}

.header-text {
  position: absolute;
  color: white;
  @include mx-margin-mobile;
  top: 9rem;
  font-family: $primary-font;
}

@include mx-response(md) {
  .header-content {
    height: 44rem;
  }

  .image-header {
    max-width: 22rem;
    right: 3rem;
  }
}

@include mx-response(lg) {
  .image-header {
    max-width: 26rem;
  }
}

@include mx-response(xl) {
  .image-header {
    max-width: 30rem;
  }
}
