.navbar-container {
  position: fixed;
  width: 100%;
  height: min-content;
  color: white;
  z-index: 99;
  background: none;
  backdrop-filter: none;
  transition: all ease-in 500ms;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
}

.navbar-container-blur {
  background: rgba(rgba(173, 173, 173, 0.418), 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 4px 5px rgba(255, 255, 255, 0.181);
  transition: all ease-in 400ms;
}

.navbar-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  @include mx-margin-mobile;
}

.navbar-container nav span {
  width: 4rem;
}

.navbar-logo {
  width: 100%;
  filter: invert(1);
}
