.navbar-container {
  position: fixed;
  width: 100%;
  height: min-content;
  color: white;
  z-index: 99;
  background: none;
  backdrop-filter: none;
  transition: all ease-out 500ms;

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;

    span {
      width: 4rem;

      .navbar-logo {
        filter: invert(1);
        opacity: 0.6;
        width: 100%;
      }
    }

    menu {
      position: relative;

      .menu-btn {
        background: $secondary-color;
        border: none;
        border-radius: 50%;
        box-shadow: 0px 1px 6px rgba($black, 0.3);
        color: white;
        display: flex;
        font-size: 2rem;
        @include mx-sepia-filter;
        padding: 8px;
      }

      .menu-btn-on {
        box-shadow: 0px 1px 60px rgba($black, 0.9);
      }

      .menu-active {
        background: rgba($gray, 0.6);
        backdrop-filter: blur(3px);
        border-radius: 50%;
        padding: 91px;
        position: absolute;
        right: -67px;
        top: -67px;
        z-index: -1;
      }

      .menu-animation-on {
        animation: scale-to-one-jumping 500ms ease-in;
      }

      .menu-animation-off {
        animation: scale-to-zero 150ms ease-in-out forwards;
      }

      .opt-1,
      .opt-2,
      .opt-3,
      .opt-4,
      .opt-5 {
        align-items: center;
        animation: scale-to-one-jumping 300ms ease-in-out;
        background: $secondary-color;
        border: none;
        border-radius: 50%;
        box-shadow: 0px 1px 6px rgba($black, 0.3);
        color: white;
        display: block;
        display: flex;
        font-size: 1.3rem;
        height: 2.2rem;
        justify-content: center;
        position: absolute;
        width: 2.2rem;
        z-index: -1;
      }

      .opt-hidden {
        display: none;
      }

      .opt-1 {
        top: -12px;
        left: -82px;
      }

      .opt-2 {
        top: 45px;
        left: -75px;
      }

      .opt-3 {
        top: 88px;
        left: -34px;
      }

      .opt-4 {
        top: 101px;
        left: 21px;
      }
    }
  }
}

/* @keyrames */
// @keyframes scale-to-one-jumping {
//   0% {
//     transform: scale(0);
//   }
//   30% {
//     transform: scale(1.5);
//   }
//   60% {
//     transform: scale(1);
//   }
//   80% {
//     transform: scale(1.5);
//   }
//   100% {
//     transform: scale(1);
//   }
// }
@keyframes scale-to-one-jumping {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.2);
  }
  65% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-to-one {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-to-zero {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
