.social-networks{
    display: flex;
    gap: 1.2rem;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    border: 1px solid $primary-color;
    position: relative;
    svg{
        font-size: 1.2rem;
        color: $lightGray;
        position: relative;
    }
    &::before{
        content: "";
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 50%;
        border: 1px solid $primary-color;
        transition: .3s;
        position: absolute;
    }
    &:hover::before{
        border-width: 1.35rem;
    }
}