html {
  scroll-behavior: smooth;
}

body {
  background: $secondary-color;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.7rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 1.08rem;
}

button {
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.bg-black {
  background-color: $black;
}

.section {
  padding: 3rem 0;
}

.title {
  font-family: $primary-font;
  color: $white;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.subtitle {
  font-family: $secondary-font;
  font-weight: 300;
  color: $lightGray;
  margin-bottom: 1rem;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid $lightGray;
  padding: 1.5rem 0.8rem 0.5rem;
  border-radius: 0.2rem;
  width: 100%;
  color: #fff;
  font-family: $secondary-font;
}

input:focus + label,
textarea:focus + label,
.effectLabel {
  font-size: 0.8rem;
  top: 0.5rem;
}
label {
  position: absolute;
  left: 0.8rem;
  top: 1rem;
  transition: 0.3s all;
}

@include mx-response(md) {
  h1 {
    font-size: 2.6rem;
    font-weight: 0;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }
}

@include mx-response(lg) {
  .container {
    width: 1000px;
  }
  .flex {
    flex-direction: row;
  }
  .description {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@include mx-response(xl) {
  .container {
    width: 1200px;
  }
  .section {
    padding: 3.5rem 0;
  }
}
