//Media Queries
/*
  phone --->  (0 - 767px)
  tablet -->  ( 768px - 991px)
  desktop -->  ( 992px - 1200px)
  large desktop -->  ( 1200px - +)
*/

@mixin mx-response($breakpoint) {
  @if $breakpoint == sm {
    @media screen and (min-width: 640px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin mx-flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin mx-margin-mobile($leftValue: 1.5rem, $rightValue: 1.5rem) {
  margin-left: $leftValue;
  margin-right: $rightValue;
}

// En pruebas -----------------------------------------

@mixin mx-margin-desktop($leftValue: 3rem, $rightValue: 3rem) {
  margin-left: $leftValue;
  margin-right: $rightValue;
}

@mixin mx-margin-estandar($margin: 3rem) {
  margin: $margin;
}

// ----------------------------------------------------