//Media Queries
/*
  phone --->  (0 - 767px)
  tablet -->  ( 768px - 991px)
  desktop -->  ( 992px - 1200px)
  large desktop -->  ( 1200px - +)
*/

@mixin mx-response($breakpoint) {
  @if $breakpoint == sm {
    @media screen and (min-width: 640px) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media screen and (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

@mixin mx-flex($justify: center, $align: center, $direction: column) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin mx-margin-mobile($leftValue: 1.5rem, $rightValue: 1.5rem) {
  margin-left: $leftValue;
  margin-right: $rightValue;
}

@mixin mx-blur-filter($value: 10px) {
  backdrop-filter: blur($value);
}

@mixin mx-sepia-filter($brightness: 0.9, $contrast: 1.04, $sepia: 0.2) {
  filter: brightness($brightness) contrast($contrast) sepia($sepia);
}


@mixin mx-width-heigth-simetric ($value) {
  width: $value;
  height: $value;
}